.blog {
    height: 100% ;
    background-color: white;
    
}

a {
    color: rgb(61, 61, 61);
}

.rabisco {
    border: 3px solid black;
    transform: translateX(4em) translateY(5em);
    width: 10%;
}
.titulo {
    width: 60%;
    margin-top: 7em;
    display: inline-block;
    
}
article {
    margin-left: 4em;
    line-height: 1.7em;
    margin-top: 2em;
    
    
}

article h2 {
    font-size: 1em;
}


.news {
    display: inline-block;
    width: 40%;
    float: right;
}

.news .block-area{
    width: 100%;
    height: 25em;
    
}

.news .block {
    width: 50%;
    height: 32em;

    

}

.news .thumb {
    height: 9em;
}

.news .risco {
    transform: translateX(-3.2em) translateY(-.5em);
}

.news .saibamais {
    transform: translateX(-3.3em);
}

.news-h2 {
    margin-left: 11em;
    
    

}


.news .block:hover {
    font-size: 1.02em;
}