





















body {
    

background-color: rgb(4, 8, 14)
}



.titulo h2 {
    font-weight: lighter;
    letter-spacing: .3em;
    display: inline-block;
    margin-left: 2em;
    font-weight: bold;


}
































.titulo-esc {
    width: 100%;
    height: 4em;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-size: .7em;
    padding-bottom: .5em;
    
    


}

.titulo-esc h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: lighter;
    font-family: 'Quicksand';
    letter-spacing: .5em;
    text-shadow: 1px 1px 2px black;
    
}







.areas {
    white-space: nowrap;
    overflow: auto;
    height: 37em;
    background-color: rgb(236, 236, 236);
    

}

.areas .card-area {
    
    overflow: hidden;
    height: 50em;
    
    
    
    
}

.areas .card:hover {
    font-size: 1em;
    transform: translateX(0);
}

.areas .card {
    height: 50em;
    width: 28em;
    padding: 0em 1em;
    text-align: center;
    white-space: normal;
    margin-top: 0em;
    text-align: left;
    
}

.areas .card img {
    float: left;
    margin-left: 2em;
    width: 4.5em;
}

.areas h2 {
    color: rgb(95, 95, 95);
    display: inline-block;
    font-size: 1.4em;
    margin-top: 4.4em;

    
    
}

.areas .container {
    border-top: 2px solid rgb(95, 95, 95);
    width: 60%;
    margin-left: 8.1em;
    transform: translateY(-1em);
}

.areas p {
    font-size: 1.7em;
    text-align: left;
    width: 87%;
    margin: auto;
    margin-top: 2em;
    color: rgb(95, 95, 95);
    font-weight: 500;

}

#comercial img, #societario img, #civil img {
    width: 4em;
}

#comercial h2, #societario h2, #civil h2 {
    margin-left: 1.5em;
} 



#bancario img {
    transform: translateY(1em);
}


#comercial img, #civil img {
    transform: translateY(.5em);
}







.js .areas .next2, .js .areas .prev2  {
    z-index: 3;
    cursor: pointer;
    color: rgba(78, 78, 78, 0.863);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.178);
    outline: none;
    position: absolute;
    margin-top: 70%;
    font-size: .7em;
}



.js .areas .prev2 {
    right: 2%;

   
    
}

.js .areas .next2 {
    left: 2%;
}

.js .areas .card {
    opacity: 0;
    transition: all .1s;
    
}

.js .areas .card h2 {
    margin-left: 1.1em;
}

.js .areas .card-area {
    position: absolute;

}

.js .areas .card2.show {
    opacity: 1;
}



.escopo {
    white-space: nowrap;
    overflow: auto;
    background-color: rgb(236, 236, 236);
}

.escopo .card-area {
    
    height: 50em ;
    overflow: hidden;
    white-space: normal;

}

.escopo .card3 {
    height: 40em;
    width: 30em;
    text-align: center;
    transition: .2s all;
}

.escopo img {
    width: 25%;
    
}
.escopo h2 {
    width: 80%;
    margin: auto;
    display: inline-block;
    margin-top: 3em;
    color: rgb(116, 116, 116);
    text-align: left;
    
}

.escopo .cont {
    border-top: .3em solid  rgb(88, 88, 88);
    width: 25%;
    margin-top: 1em;
    margin-left: 3em;
    
}

.escopo p {
    width: 80%;
    text-align: left;
    margin-left: 2em;
    font-size: 1.6em;
    font-weight: 550;
    line-height: 1.5em;



}


.js .escopo .next3, .js .escopo .prev3 {

    z-index: 3;
    position: absolute;
    cursor: pointer;
    color: rgba(78, 78, 78, 0.863);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.178);
    outline: none;
    margin-top: 60%;
    font-size: .7em;

}

.js .escopo .prev3 {
    right: 2%;
    
    
}


.js .escopo .next3 {
    left: 2%;
    
}

.js .escopo {
    height: 35em;
}

.js .escopo .card-area {
    position: absolute;
}

.js .escopo .card3 {
    opacity: 0;
}


.js .escopo .card3.show {
    opacity: 1;
}





.hand-esc img {
    margin-top: 6em;
    width: 30%;
}











.como-atuamos .titulo {
    background-color: rgb(0, 0, 0);
    border: black;
}

.como-atuamos {
    background-color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    
}

.como-atuamos p{
    width: 100%;
    margin: auto;
    text-align: left;
    line-height: 1.5em;
    
    
    
}


.como-atuamos article {
    background-color: rgba(255, 255, 255, 0.774);
    color: rgb(107, 107, 107);
    width: 90%;
    margin: auto;
    padding: 2em 0;
}

























@media screen and (min-width:1280px) {

  
    .col {
    display: inline-block;
    width: 60%;
    float: left;
    }


    
    .areas {
        height: 40em;
        width: 60%;
        display: inline-block;
        float: left;
        
    }

    .areas .card-area {
        width: 100%;
        margin: auto;
        
    }

    .areas .card2 {
        width: 50em;
        text-align: left;
    }

    .areas .card2 h2 {
        transform: translateX(2em);
        font-size: 1.5em;
    }

    
    

    #comercial img, #societario img, #civil img{
        width: 4.5em;
       
    }

    #tributario h2, #comercial h2,#societario h2,#penal h2, #consumerista h2, #civil h2, #bancario h2 {
        transform: translateX(0);
    }





    .js .prev2 {
        margin-right: 45%;
        top: 20em;
        
    }
     .js .next2 {
        top: 20em;
        margin-left: 5%;

    }


    .js .areas .card-area {
        width: 60%;
    }

   








    

    .col2 {
        display: inline-block;
        width: 40%;
        overflow: hidden;
    }

    .escopo {
        display: inline-block;
        width: 40%;
        overflow: hidden;
        transform: translateY(-.25em);
        height: 40em;
        overflow: auto;
    }


    .js .escopo {
        height: 40em;
    }


    .js .next3 {
        top: -10em;
        margin-left: 5em;
    }

    .js .prev3 {
        top: -10em;
        margin-right: 5em;
        
    }
    
    
    
  
    
    
    
    
    


  

    
    
    .como-atuamos {
        height: 50em;
        background-color: rgb(240, 240, 240);
        float: none;
        
        
    }

    .como-atuamos article {
        margin-top: 6em;
        display: inline-block;
        margin: 0;
        
        width: 50%;
        line-height: 2em;
        font-size: 1.2em;
        background-color: rgb(255, 255, 255);
        padding: 4em;
        padding-bottom: 6em;
        color: rgb(53, 53, 53);
        
    }
    
    
    
    

    

}





