.logo {
    background-color: black;
}


.titulo1 {
    width: 100%;
    height: 4em;
    color: white;
    text-align: center;
    background-color: black;
    overflow: hidden;
    
    

}

.titulo1 h2 {
    font-weight: lighter;
    letter-spacing: .3em;

}



.titulo2 {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.884);
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 1em;
    transform: translateY(1em);
    
}

.titulo2 h3 {
    display: inline-block;
    font-weight: lighter;
    font-size: .7em;
    letter-spacing: 5px;
    color: white;
    
    
}

.socios {
    width: 100%;
    
    
    text-align: center;
    overflow: hidden;
    background-image: url(fundo-equipe.jpg);
    background-size: cover;
}

.socios img {
    width: 25em;
    transform: translateY(2em);
    
}

.socios p {
    margin-top: 3em;
}

.block {
    padding-bottom:3em ;
    background: rgba(0, 0, 0, 0.733);
    color: white;
    overflow: hidden;
    

}

.texto-socio {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3em;
    margin-bottom: 10%;
    text-align: justify;
    line-height: 1.5em;
    padding-bottom: .1em;
}




@media screen and (min-width:900px) {

    .block {
        width: 100%;
        margin: auto;
    }
    
    .foto-socio {
        display: inline-block;
        width: 45%;
        margin-top: 3em;
    }

    .texto-socio {
        width: 45%;
        float: right;
        margin-left: 0em;
        margin-right: 3em;
        margin-top: 1em;

    }

    #tiago .texto-socio {
        margin-top: .5em;
        line-height: 2em;

    }

    #tiago .foto-socio {
        margin-top: 1em;
    }

    #tiago {
        height: 30%;
    }

    #fabio .texto-socio {
        margin-top: 4em;
        line-height: 2.2em;
        

    }
   
    @media screen and (min-width: 1200px) {
        .block {
            width: 80%;
            overflow: hidden;
        }

       

        
        
    }

    

    


    
}