
.logo {
    background-color: black;
}




.titulo {
    width: 100%;
    margin: auto;
    
}



 .titulo h2 {
    display: inline-block;
    transform: translateY(-5px);
    font-family:'Quicksand';
    font-weight: lighter;
    font-size: 1.1em;
    letter-spacing: .5em;
    
    

}
.titulo2 {
    width: 100%;
    height: 4em;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.705);

    
    

}

.titulo2 h2 {
    display: inline-block;
    font-family:'Quicksand';
    font-weight: lighter;
    font-size: 1.1em;
    letter-spacing: 10px;

}

.titulo3 {
    width: 100%;
    height: 4em;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.945);
    overflow: hidden;
    margin: auto;
    color: white;
    text-align: center;
    

}

.titulo3 h2 {
    display: inline-block;
    font-weight: lighter;
    letter-spacing: 10px;

}
.quemsomosnos {
    
    width: 100%;
    height: 40em;
    background-image: url(fundo-quemsomos.jpg);
    background-size: cover;
    
}

.quemsomosnos-conteudo {
    width: 100%;
    height: 40em;
    background-color: rgba(0, 0, 0, 0.767);
    margin: auto;
    overflow: hidden;

   
}




.quemsomosnos-conteudo article {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
    font-size: 1em;
    color: white;
}

.missao-visao-valores {
    width: 100%;
    height: 75em;
    background-image: url(fundo-missao-visao-valores.jpg);
    background-size: cover;
    background-position-x: center;

}

.missao, .visao, .valores {
    color: white;
    width: 100%;
    height: 20em;
    background-color: rgba(0, 0, 0, 0.726);
    margin: auto;
    overflow: hidden;
    font-size: 1em;
    
}

.missao-visao-valores article {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
    line-height: 2em;
}

.valores
{
    height: 400px;
}

.valores article {
    text-align: left;
}

@media screen and (min-width: 850px) {

    .quemsomosnos-conteudo {
        width: 80%;
    }

    .missao, .visao, .valores {
        width: 80%;
    }

    .missao-visao-valores article {
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 4em;
        line-height: 2em;
    }
   

}

@media screen and (min-width: 1200px) {

    .titulo3 {
        width: 60%;
    }
    
    
    .quemsomosnos-conteudo {
        width: 60%;
    }

    .missao, .visao, .valores {
        width: 60%;
    }

    .missao-visao-valores article {
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 4em;
        line-height: 2em;
    }
   

}













