
body {
    position: absolute;
    overflow: none;
}

.menu .button {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.menu a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 1em 2em 1em 2.5em;
    
    

}




.cabeçalho {
    background-color: rgb(0, 0, 0);
    text-align: center;

}

.cabeçalho img {
    width: 17em;
    padding: 2em;
    
    
}

.js .cabeçalho img {
    display: none;

}

.js .cabeçalho {
    height: 1em;
}




body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(5, 6, 14);
}




.no-js .menu-js {
    display: none;
}

.no-js .menu {
    display: block;
}


.js .menu {
    display: none;

}


.js .hidden {
    transform: translateX(55em);
    
    
}















.js .menu-js {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: inline-block;
    height: 2em;
    transition: all 1s;
    
    
    

}

.js .hmbgr-menu {

    padding: 1em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: all 2s;
    
    
    

}

.js .logo-hmbgr-area {

    width: 60%;
    display: inline-block;

}

.js .hmbgr-area {
    display: inline-block;
    float: right;
    position: relative;
    transform: translateX(-2.5em) translateY(.5em);


}



.js .hmbgr-area button {
    border: none;
    background-color: transparent;
    outline: none;
}

.js .hmbgr {
    
    padding-right: 2em;
    
    
}








.js .menu-showed {
    background-color: rgba(0, 0, 0, 0.836);
    height: 100vh;
    width: 100%;
    float: right;
    color: white;
    transition: all .5s;
    
            
    
    }

    
    .js .menu-showed a {
        text-decoration: none;
        color: white;
        

        
        
    }
    
    .js .menu-showed ul {
        list-style: none;
        
        
    }

    .js .menu-showed li {
        display: inline-block;
        width: 100%;
        padding:2em;
        
        transform: translateX(-2.2em);
        transition: all .1s;
        
    }


    .js .menu-circle {
        width: .6em;
        height: .6em;
        display: inline-block;
        
        border-radius: 100%;
        border: solid 1.5px rgb(255, 255, 255);
        margin-right: 1em;
        transform: translateY(.05em);
        transition: all .5s;
        

    }


    

  


  .js .menu-showed .menu-subli {
      width: 0;
      transition: all 1s;
  }
  
  
  
  

.js .menu-txt {
    display: inline-block;
}




.letreiro {
    width: 100%;
    height: 10em;
    background-image: url(fundo-atuacao.jpg);
    background-position: bottom;
    background-size: cover;

    
}

.letreiro h1 {
    font-weight: lighter;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    color: white;
    margin-left: 2em;
    margin-top: 1.5em;
    
    
    
    
    
    
}

.letreiro .titulo {
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    height: 25.1vh;
    text-align: left;
   
}



.risco {
    border-bottom: 4px solid white;

    width: 20%;
    margin-left: 4em;

    
    
    
}

.next, .prev, .next2, .prev2, .next3, .prev3 {
    display: none;
}

.js .next,.js .prev,.js .next2,.js .prev2,.js .next3,.js .prev3 {
    display: inline-block;
}












.especialidades {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 21em;

    
   overflow: auto;
   overflow-y: hidden;
   white-space: nowrap;
    
}


.card-area {
    display: inline-block;
    font-size: .61em;
    
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 6em;
    
    
   

}

.card {
    
    width: 20em;
    height: 20em;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgba(255, 251, 0, 0.021);
    display: inline-block;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.185);
    transition: opacity .5s;
    margin: auto;
    cursor: pointer;
   

    
    
    
}

.card img {
    width: 5.5em;
    display: inline-block;
    margin: auto;
    margin-top: 4em;


}


.card a {
    color: rgb(114, 114, 114);
    text-decoration: none;
    font-family: 'Quicksand';
    text-align: center;
    display: block;
    font-size: 1.2em;
    margin-top: 2em;
    font-weight: bolder;

}




.card p {
    color: rgb(124, 124, 124);
    font-size: 1.2em;
    margin-top: 1.4em;
    font-weight: 600;

    


}


.comercial p {
    transform: translateY(1em);

}

.societario img {
    width: 25%;
}




.consumerista img {
    width: 25%;
    transform: translateY(-.3em);
}

.consumerista p {
    
    transform: translateY(-.3em);
}

.civil img {
    width: 25%;
}

.civil img, .civil p {
    transform: translateY(.7em);
}

.bancario img, .bancario p {
    transform: translateY(.8em);
}

.contratual p {
    transform: translateY(-.6em);
}








.js .especialidades .next, .js .especialidades .prev {
    color: rgb(97, 97, 97);
    font-size: .7em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
    position: absolute;
    margin-top:10em;
    
    cursor: pointer;
    z-index: 3;


} 


.js .especialidades .next{
    
    left: 2em;
}

.js .especialidades .prev{
    right: 2em;
}


.js .especialidades .card-area {
    display: none;
}

.js .especialidades .card-area.show {
    display: inline-block;
    position: absolute;
}

.js .especialidades .card {
    opacity: 1;
    transition: all .2s;
}















.js .cabeçalho {
    width: 100%;
    height: 4.7em;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}









.logo {
    background-color: rgb(255, 255, 255);
    height: 11em;
    
    
    

}

.logo img {
    width: 30em;
    display: block;
    margin: auto;
    padding-top: 3em;
    
    

}


footer {
    color: white;
    text-align: center;
    font-size: .7em;
    display: block;
    width: 100%;
    float: none;
    background-color: black;
    padding-bottom: 3em;
    

    
}

footer img {
    display: inline-block;
    width: 20em;
    margin-left: 1.5em;
    margin-top: 2em;
   

}





footer p {
    display: inline-block;
    margin-bottom: 1em;
    transform: translateY(-2px);
    font-size: 100%;
    margin-top: 3em;
    
}




@media screen and (min-width:450px) {

   

    .js .logo-hmbgr-area {
        width: 15em;
    }

    .js .hmbgr {
        width: 2.5em;
        padding-right: 3em;
        padding-top: .5em;
    }

    .js .menu-showed {
        width: 28em;

    }
}
@media screen and (min-width:650px){

    .js .menu-showed {
        width: 35em;

    }
    footer img {
        display: block;
        margin: auto;
        margin-top: 2em;
    }
}

@media screen and (min-width:750px)


{
    footer img {
        display: inline-block;
        margin: auto;
        margin: 2em;
        float: left;
    }

    footer p {
        font-size: 1.1em;
        
        

    }
}

    @media screen and (min-width: 1280px) {
        
        
        
        .cabeçalho img {
            width: 30em;
            display: inline-block;
            
        }
        

        .js .cabeçalho img {
            display: inline-block;
            
            
        }

        .js .cabeçalho {
            height: 10em;
            background-color: white;
        }

        
        .menu {
            text-align: center;
            

        }

       
        
        .menu .button {
            width: 15%;
            transition: all .5s;

        }

        .menu .button:hover {
            background-color: rgb(10, 24, 53);
            letter-spacing: .01em;

        }

        .js .menu {
            display: block;
        }


        
                
       

        .js .menu-showed {
            height: 40em;
            width: 35em;
            
        }
        
        
        .js .menu-showed a:hover .menu-subli  {
            width: 150%;
            background-color: black;
            display: block;
            height: .15em;
            transform: translateY(.3em);
            
        }


        .js .menu-showed a:hover .menu-circle  {
            border: 1.5px solid black;
            background-color: black;
        }
        

        .js .menu-showed a:hover li {
            background-color: rgba(255, 255, 255, 0.89);
            color: black;
            font-weight: bolder;
        }


        .js .js-hidden {
            transform: translateY(-10em);
            transition: all 1s;
        }

        
    
        .js .logo-hmbgr-area {
            width: 15%;
            
        }

        .js .hmbgr-menu {
            background-color: white;
        }

        .js .hmbgr {
            transform: translateY(-.5em);
        }
        

       .letreiro {
           text-align: left;
           
       }

       .letreiro .titulo {
        text-align: left;
        
        
    
       }

       .letreiro h1 {
           text-align: left;
           display: inline-block;
           transform: 0;
           margin-left: 2.4em;

       }

       .letreiro .risco {
           border-bottom: 3px solid white ;
           width: 4%;
           
       }

       .letreiro h1 {
           margin-left: 7em;
       }

       .letreiro .risco {
           margin-left: 14em;
       }
       

       
       
       
       
       .js .next,.js .prev {
        display: none;
        }
        .js .next2,.js .prev2,.js .next3,.js .prev3 {
            top: 0;
        }

       .especialidades {
           white-space: normal;
           text-align: center;
           height: 37em;

           
           
       }

       
       .especialidades .card-area {
           width: 17%;
           height: 37%;
           display: inline-block;
           
          
           

        }

        .especialidades .card {
            float: left;
            margin-left: 3em ;
            transition: all .5s;
            
            
        }

        .js .especialidades .card-area {
        position: relative;
        display: inline-block;
    
}

.js .especialidades .card-area.show {
    position: relative;
    display: inline-block;

}

    .js .especialidades .card {
        opacity: 1;
        transition: all .5s;
        transform: translateY(0em);
        
        
        
    }


        .especialidades .card:hover {
            font-size: 1.05em;
            transform: translateY(-.2em)
            translateX(-1em);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
            letter-spacing: 0.05em;
        } 
        
        

    }

       

        
        
        
    






