.cabeçalho {
    width: 100%;
    height: 5em;
    background-color: white;
}

.cabeçalho img {
    display: none;
}




body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(5, 6, 14);
}




.no-js .menu-js {
    display: none;
}

.no-js .menu {
    display: block;
}


.js .menu {
    display: none;

}


.js .hidden {
    transform: translateX(55em);
    
    
}















.js .menu-js {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: inline-block;
    height: 2em;
    transition: all 1s;
    
    
    

}

.js .hmbgr-menu {

    padding: 1em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: all 2s;
    
    
    

}

.js .logo-hmbgr-area {

    width: 60%;
    display: inline-block;

}

.js .hmbgr-area {
    display: inline-block;
    float: right;
    position: relative;
    transform: translateX(-2.5em) translateY(.5em);


}



.js .hmbgr-area button {
    border: none;
    background-color: transparent;
    outline: none;
}

.js .hmbgr {
    
    padding-right: 2em;
    
    
}








.js .menu-showed {
    background-color: rgba(0, 0, 0, 0.836);
    height: 100vh;
    width: 100%;
    float: right;
    color: white;
    transition: all .5s;
    
            
    
    }

    
    .js .menu-showed a {
        text-decoration: none;
        color: white;
        

        
        
    }
    
    .js .menu-showed ul {
        list-style: none;
        
        
    }

    .js .menu-showed li {
        display: inline-block;
        width: 100%;
        padding:2em;
        
        transform: translateX(-2.2em);
        transition: all .1s;
        
    }


    .js .menu-circle {
        width: .6em;
        height: .6em;
        display: inline-block;
        
        border-radius: 100%;
        border: solid 1.5px rgb(255, 255, 255);
        margin-right: 1em;
        transform: translateY(.05em);
        transition: all .5s;
        

    }


    

  


  .js .menu-showed .menu-subli {
      width: 0;
      transition: all 1s;
  }
  
  
  
  

.js .menu-txt {
    display: inline-block;
}




.letreiro {
    width: 100%;
    height: 14em;
    background-image: url(fundo-atuacao.jpg);
    background-position: bottom;
    background-size: cover;
    
}

.letreiro h1 {
    font-weight: lighter;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    color: white;
    transform: translateX(-1em) translateY(1em);
    
    
    
    
}

.letreiro .titulo {
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 31.1vh;
    text-align: center;
    
}



.risco {
    border-bottom: 2px solid white;

    width: 100%;
    margin: auto;
    transform: translateY(2em);
}

















.logo {
    background-color: rgb(255, 255, 255);
    height: 11em;
    
    
    

}

.logo img {
    width: 30em;
    display: block;
    margin: auto;
    padding-top: 3em;
    
    

}

.button {
    background-color: rgb(0, 0, 0);
    
    border-radius: 1px;
    
    

}

.button:first-child {
    padding-left: 4em;
}
.button:last-child {
    padding-right: 4em;
}





.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
    border: .5px solid rgba(10, 10, 10, 0.041);
    transition: all .3s;
    
}

.menu a:first-child {
    padding-left: 4em;
}



.menu a:hover {
    background-color: rgb(17, 26, 58);
    color: rgb(255, 255, 255);
    letter-spacing: .01em;
    
}

footer {
    color: white;
    text-align: center;
    font-size: .7em;
    display: block;
    width: 100%;
    float: none;
    background-color: black;
    padding-bottom: 3em;
    

    
}

footer img {
    display: inline-block;
    width: 20em;
    margin-left: 1.5em;
    margin-top: 2em;
   

}





footer p {
    display: inline-block;
    margin-bottom: 1em;
    transform: translateY(-2px);
    font-size: 100%;
    margin-top: 3em;
    
}


@media screen and (min-width:450px) {

   

    .js .logo-hmbgr-area {
        width: 15em;
    }

    .js .hmbgr {
        width: 2.5em;
        padding-right: 3em;
        padding-top: .5em;
    }

    .js .menu-showed {
        width: 28em;

    }
}
@media screen and (min-width:650px){

    .js .menu-showed {
        width: 35em;

    }
    footer img {
        display: block;
        margin: auto;
        margin-top: 2em;
    }
}

@media screen and (min-width:750px)


{
    footer img {
        display: inline-block;
        margin: auto;
        margin: 2em;
        float: left;
    }

    footer p {
        font-size: 1.1em;
        
        

    }
}

@media screen and (min-width:850px) {
    
    nav {
        text-align: center;
    }
    .button {
        display: inline-block;
    }

    .menu a {
        padding-left: 1.9em;
        padding-right: 1.9em;
    }

    @media screen and (min-width: 1280px) {
        
        
                
        .menu {
            background-color:rgb(0, 0, 0) ;
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
                
        .menu a {
            padding-left: 4em;
            padding-right: 4em;
        }

        .js .menu-showed {
            height: 40em;
            width: 35em;
            
        }
        
        
        .js .menu-showed a:hover .menu-subli  {
            width: 150%;
            background-color: black;
            display: block;
            height: .15em;
            transform: translateY(.3em);
            
        }


        .js .menu-showed a:hover .menu-circle  {
            border: 1.5px solid black;
            background-color: black;
        }
        

        .js .menu-showed a:hover li {
            background-color: rgba(255, 255, 255, 0.89);
            color: black;
            font-weight: bolder;
        }


        .js .js-hidden {
            transform: translateY(-10em);
            transition: all 1s;
        }

        .js .menu {
            display: inline-block;
            
        }
    
        .js .logo-hmbgr-area {
            width: 15%;
            
        }

        .js .hmbgr-menu {
            background-color: white;
        }

        .js .hmbgr {
            transform: translateY(-.5em);
        }
        
        
    }



}


