body {
    background-color: rgb(233, 233, 233);
   
}


.letreiro {
    width: 100%;
    height: 20em;
    background-image: url(fundo-quemsomos.jpg);
    background-position: center ;
    background-size: cover;
    text-align: left;

    
}

.letreiro h1 {
    font-weight: lighter;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    transform: translateX(1.5em) translateY(2.1em);
    color: white;
    
}

.letreiro .titulo {
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 20em;
    
}



.risco {
    border-bottom: 2px solid white;
    transform: translateY(4.8em);
    width: 100%;
    margin: auto;
}









.logo {
    background-color: black;
}



.titulo1 {
    width: 100%;
    height: 4em;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-size: .9em;
    
    


}

.titulo1 h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: lighter;
    letter-spacing: .5em;
    
}




.titulo2 {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 1em;
    transform: translateY(1em);
    border: 1px solid rgba(185, 185, 185, 0);
    
    
}

.titulo2 h3 {
    display: inline-block;
    font-weight: lighter;
    font-size: .7em;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.404);
    
    
    
    
}

.socios {
    width: 100%;
    
    
    text-align: center;
    overflow: hidden;
    
    background-size: cover;
}

.socios img {
    width: 25em;
    
    
}

.socios p {
    margin-top: 3em;
    font-size: 1.2em;
}

.block {
    padding-bottom:3em ;
    background: rgba(255, 255, 255, 0.733);
    color: rgb(51, 51, 51);
    overflow: hidden;
    

}

.texto-socio {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3em;
    margin-bottom: 10%;
    text-align: justify;
    line-height: 2em;
    padding-bottom: .1em;
}




@media screen and (min-width:900px) {

    .block {
        width: 100%;
        margin: auto;
    }
    
    .foto-socio {
        display: inline-block;
        width: 45%;
        margin-top: 3em;
    }

    .texto-socio {
        width: 45%;
        float: right;
        margin-left: 0em;
        margin-right: 3em;
        margin-top: 1em;

    }

    #tiago .texto-socio {
        margin-top: .5em;
        line-height: 2em;

    }

    #tiago .foto-socio {
        
    }

    #tiago {
        height: 30%;
    }

    #fabio .texto-socio {
        margin-top: 4em;
        line-height: 2.2em;
        

    }
   
    @media screen and (min-width: 1200px) {
        


        .letreiro h1 {
            margin-left: 4em;
        }
            
    .cabeçalho {
        height: 11em;
        text-align: center;
    }
    
    .cabeçalho img {
        display: inline-block;
        width: 30em;
        height: 11em;
    }
    

    
        
        
        .block {
            width: 80%;
            overflow: hidden;
        }

       

        
        
    }

    

    


    
}