body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black
}








.letreiro {
    width: 100%;
    height: 20em;
    background-image: url(fundo-sobrenos.jpg);
    background-position-y: -10em;
    background-size: cover;
    
}

.letreiro h1 {
    font-weight: lighter;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    transform: translateX(1.5em) translateY(2.1em);
    color: white;
    
}

.letreiro .titulo {
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 20em;
    
}



.risco {
    border-bottom: 2px solid white;
    transform: translateY(4.8em);
    width: 100%;
    margin: auto;
}




article {
    width: 80%;
    margin: auto;
    margin-top: 4em;
    line-height: 1.2em;
    font-size: 1.2em;
}

h1 {
    font-weight: lighter;
}

.container {
    border-top: 2px solid black;
    width: 30%;
    margin-bottom: 2em;
}





h2 {
    font-weight: lighter;
    transform: translateY(.3em) translateX(-.7em);
    font-size: 1.7em;
}
.missao-visao-valores article {
    margin-top: 3em;
    margin-bottom: 4em;
    background-color: rgb(236, 235, 235);
    color: black;
    padding: .1em 2em 2em 0em ;
    border-radius: 2px;
    
}

.missao-visao-valores p {
    margin-left: 2em;
    line-height: 1.5em;
}


.missao-visao-valores h2 {
    
    margin-left: 2em;
}



@media screen and (min-width: 1280px) {
    .cabeçalho {
        height: 11em;
        text-align: center;
    }
    
    .cabeçalho img {
        display: inline-block;
        width: 30em;
        height: 11em;
    }
    
    .letreiro h1 {
        margin-left: 4em;
    }
}







