
.menu {
    text-align: center;
}


.js .especialidades {
    position: relative;
    overflow: hidden;
    
}

.js .especialidades .card-area {
    position: absolute;
    transition: opacity .1s;
    
}

.js .especialidades .card {
    opacity: 0;
    margin: 0;
    transition: .2s all;
    
}
.js .especialidades .card-area {
    margin: 0;
    padding: 0;
    margin: auto;
    transform: translateX(11em) translateY(6.5em);
    
}

.js .especialidades .card.show {
    opacity: 1;
}


.js .especialidades .next, .js .especialidades .prev {
    z-index: 3;
    position: absolute;
    top: 35%;
    cursor: pointer;
    color: rgba(78, 78, 78, 0.863);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.178);
}

.js .especialidades .prev {
    left: 79%;
    
}


.js .especialidades .next {
    right: 95%;
}





.video-topo {
    overflow: hidden;
}

.video-topo{
    width: 100%;
    height: 80vh;
    
    
}

.ref {
    width: 100%;
    height: 50vh;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    background-image: url(predios.jpg);
}

.ref-cont {
    background-color: rgba(0, 0, 0, 0.671);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
    
}
.ref-container {
    border-top: 2px solid white ;
    transform: translateX(-8em);
    width: 20%;
    margin: auto;
    margin-top: 2em;


}
.ref h2 {
    width: 80%;
    margin: auto;
    display: inline-block;
    text-align: left;
    margin-top: 4em;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: 500;





}
.escbg {
    
    height: 100vh;
    overflow: hidden;
}

.esc {
    text-align: center;
    color: white;
    font-size: .8em;
    
    background-size: 110%;
    
    

}
.esc h2 {
    width: 80%;
    margin: auto;
    display: inline-block;
    text-align: left;
    margin-top: 2em;
    font-size: 1.4em;
    line-height: 1.3em;
    font-weight: 500;
    display: block;
}


.esc button {
    margin-top: 3em;
    font-size: 1em;
    padding: .5em 2em;
    border-radius: 50px ;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transform: translateX(-7.5em);
    outline: none;
    transition: all .5s;
    


}

.esc button:hover {
    font-size: 1.01em;
    background: white;
    color: black;
    font-weight: bold;
    transform: translateY(.1em) translateX(-8.5em);
    letter-spacing: .1em;
}

.esc img {
    width: 1.2em;
    transform: translateX(.7em) translateY(.2em);
}






.titulo {
    width: 100%;
    height: 2em;
    background-color: black;
    overflow: hidden;
    text-align: left;
    padding: 1em 0em;
    text-align: center;
    

}

.titulo h2 {
    font-size: 1em;
    color: white;
    font-weight: bold;
    
    letter-spacing: .5em;
    display: inline-block;
    margin: auto;
    margin-top: .3em;


    

}








.especialidades {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 21em;
    
   overflow: auto;
   overflow-y: hidden;
   white-space: nowrap;
    
    
}

.es {
    font-size: .8em;
}

.card-area {
    display: inline-block;
    padding: 4.5em 6em;
    box-sizing: border-box ;
    width: 30em;
    height: 30em;
    font-size: .61em;
    margin: auto;
    margin-left: 5.3vh;
    margin-top: .5vh;
    margin-right: 11vh;

}

.card {
    width: 20em;
    height: 20em;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgba(255, 251, 0, 0.021);
    display: inline-block;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.185);
    transition: all .5s;
    position: static;
    float: left;
      
    
}

.card h2 {
    font-size: 1em;
    margin-top: 1.3em;
}
.card img {
    width: 4.5em;
    display: block;
    margin: auto;
    margin-top: 5em;
    

}


.card a {
    color: rgb(114, 114, 114);
    text-decoration: none;
    font-family: 'Quicksand';
    text-align: center;
    display: block;
    font-size: 1.2em;
    margin-top: 2em;
    font-weight: bolder;

}

.card:hover {
    font-size: 1.1em;
    transform: translateY(-.1em) translateX(-1em);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.507);
    background-color: rgb(255, 255, 255);
    opacity: 100%;
    
}

.card:hover a {
    color: rgb(126, 126, 126);
    
    
}


.societario img {
    width: 25%;
    transform: translateY(-1em);

}

.societario h2 {
    transform: translateY(-.8em);
    
    

}

.comercial img {
    width: 25%;
    transform: translateX(-.2em);
}

.comercial h2 {
    transform: translateY(.5em);
}

.fas {
    transform: translateX(.5em);
}


 




.sobrenos-article {
    width: 100%;
    display: inline-block;
    background-image: url(fundo-sobrenos.jpg);
    background-size: cover;
    
   
    
    
}

.sobrenos article {
    width: 80%;
    color: white;
    padding: 1em 2em 2em;
    margin: auto;
    font-size: 1.2em;
   
    line-height: 1.5em;
    font-weight: lighter;
    
    
    
}

.sobrenosbg {
    background-color: black;
    height: 80%;
    
}






.contato {
    background-color: rgb(10, 13, 27);
    text-align: center;
    padding-bottom: 2em;
    font-size: .9em;
}

.contato .titulo {
    background-color: rgb(9, 12, 26);
    text-shadow: 1px 1px 2px black;
    text-align: center;
    
}

.contato .titulo {
    margin-left: 0;
    text-align: left;

}

.contato .titulo h2 {
    margin-left: 3em;
}


.contato p {
    color: white;
    text-align: left;
    font-style: normal;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}

.contato .end {
    margin-left: 2em;
}


.contato img {

    width: 1em;
    margin-left: 1em;
    margin-right: 1em ;
    

}

.contato iframe {
    width: 100%;
    height: 37em;
    margin-top: 2em;
    
}

    
    #end {
    text-align: center;
    margin-top: 4em;
    display: inline-block;
    }


    .maps {
        margin-bottom: 2em;
    
    }


.contato-predio {
    background-image: url(iguatemi-business.jpg);
    width: 100%;
    height: 30em;
    background-size: cover;
    background-position: center;


}


.predio-box {
    background-color: rgba(0, 0, 0, 0.781);
    height: 10em;
    transform: translateY(20em);
    text-align: center;

    
}

.predio-link a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    
}
.predio-link h2 {
    display: inline-block;
    margin-top: 2.5em;
    font-weight: lighter;
    font-size: 1.3em;
}

@media screen and (min-width: 550px) {
    .es h2 {
        font-size: 1.4em;
    }
}


@media screen and (min-width: 1280px) {

    
    
    .cabeçalho {
        height: 11em;
        text-align: center;
    }
    
    .cabeçalho img {
        display: inline-block;
        width: 30em;
        height: 11em;
    }
    

    


    .es {
        font-size: .8em;
        
    }

    .es h2 {
        margin-left: 4em;
    }


    
    .especialidades {
        white-space: normal;
        margin: auto;
        text-align: center;
        height: 45em;
        width: 100%;
        overflow: hidden;
        
    }




    .card-area {
        margin-right: 0em;
        padding: 0em 3em 0em 3em;
        width: 25%;
        margin-top: 0;
        
        height: 17em;
        transform: translateY(4em) translateX(1em);
        font-size: 1em;

    }

    .card {
        font-size: .7em;
        margin-top: 0;
        
    }

    .card:hover {
        font-size: .75em;
    }








    
    
    .sobrenos .titulo {
        background-color: black;
        color: white;
        border: none;
        font-size: 1.2em;
        
    }

    .sobrenos .titulo h2 {
        
        font-size: .9em;
        font-weight: bold;
        letter-spacing: .5em;
        display: inline-block;
        margin: 1em;
        
        
    }

    .sobrenos {
        background-image: url(fundo-sobrenos.jpg);
        height: 40em;
        
    }

    .sobrenosbg {
        height: 100vh;
        overflow: hidden;
        width: 100%;
    }


    .sobrenos-article {
        width: 50%;
        display: inline-block;
        height: 39.9em;
        color: rgb(255, 255, 255);
        line-height: bolder;
        overflow: hidden;
        
    }

    .sobrenos article {
        font-size: 1.4em;
        background-color: transparent;
        width: 75%;
        line-height: 1.8em;
        

    }

    .sobrenos-foto {
        width: 50%;
        height: 40em;
        background-image: url(sobrenos.jpg);
        background-size: cover;
        background-position: center;
        display: inline-block;
        float: right;

    }


    .contato-predio {
        width: 40%;
        display: inline-block;
        float: right;
        background-size: cover ;
        background-position: center;
        height: 134vh;
        margin-top: 0;
    }


    .predio-box {
        background-color: rgba(0, 0, 0, 0.74);
        width: 100%;
        height: 4em;
        color: white;
        padding-bottom: 20em;
        margin-top: 10em;
        
    }

    .predio-box a {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
        display: inline-block;
        margin: 1em;


    }

    .contato {
        width: 60%;
        color: rgb(0, 0, 0);
        background-color: rgb(6, 8, 17);
        height: 50em;
        text-align: center;
        display: inline-block;
        
        padding: 0;
        font-size: 1.1em;
        
    }

    .contato address {
        transform: translateX(-4em);
    }

 

    #end {
        transform: translateX(4em);
    }
   


    .contato img {
        width: 4%;
        margin-right: 2em;
        transform: translateX(1em)

    }

    .contato iframe {
        
        margin-top: 4em;
        width: 90%;
        height: 20em;
    }

    .contato address {
        
       
       
        width: 80%;
        
        margin: auto;
        
        
    }

    .video-topo {
        height: 24em;
    }

    .ref {
        width: 50%;
        display: inline-block;
        float: left;
        height: 100vh;
        font-size: 1.5em;
        background-image: url();
    }

    .ref h2 {
        margin-top: 3em;
    }

    .escbg {
        background-color: rgba(0, 0, 0, 0.842);
    }
    
    .esc {
        width: 50%;
        float: right;
        display: inline-block;
        height: 100vh;
        background-image: url(fundo-atuacao.jpg);
    }

    .esc h2 {
        margin-top: 4em;
        font-size: 2em;
    }

    .esc button {
        transform: translateX(-12em) translateY(2em);
        font-size: 1.2em;
    }

    .esc button:hover {
        transform: translateY(2.5em) translateX(-13em);
        font-size: 1.15em;
    }

    


    
    
    
    

    
    
   



}




