.header {
    background-color: rgb(236, 236, 236);
    height: 4em;
    overflow: hidden;
    color:rgb(97, 97, 97) ;
}

.header a {
    color: rgb(92, 92, 92);
    text-decoration: none;
    font-weight: lighter;
    

}

.header h4 {
    margin-left: 2em ;
}

.blog {
    background-color: rgb(245, 245, 245);
    overflow: hidden;

}

.blog h1 {
    margin-left: 1em;
}


.blog .block-area {
    width: 100%;
    height: 20em;
    margin-top: 2em;
    
    
}

.block-area a {
    color: rgb(0, 0, 0);
    font-size: .7em;
    margin: auto;
    text-align: center;
    margin-top: 1em;
    text-decoration: none;
    
    
    
    


}

.blog .block {
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    text-align: left;
    height: 27em;
    
    
    
    
    

}

.block h2 {
    width: 80%;
    margin: auto;
    margin-top: 1em;
}



.block .thumb {
    width: 100%;
    height: 10em ;
    background-size: cover;
}



.block .risco {
    border-top:3px solid black;
    width: 80%;
    text-align: left;
    transform: translateY(1em) translateX(-1.3em);
    margin-top: 1em;

}


.saibamais {
    margin-left: 2.5em;
}




.mde .thumb {
    background-image: url(ministério-da-economia.jpg);
    
}

.mde2 .thumb {
    background-image: url(ministério-da-economia2.jpg);
    background-position: 0em -2em;
    
}

 .trf .thumb {
    background-image: url(TRF.jpg);
    
}

.gf  .thumb {
    background-image: url(Governo-Federal.jpg);

}

#snpii .thumb {
    background-image: url(simples-nacional-prorrogado.jpg);
    background-position: bottom;
}

.stj .thumb{
    background-image: url(STJ.jpg);
    
}


.receita .thumb {
    background-image: url(receita-federal.jpg);
}

.covid .thumb {
    background-image: url(covid-19.jpg);
}

@media screen and (min-width:500px){
    .blog h1 {
        text-align: center;
    }
    
    .blog .block {
        width: 30em ;
    }
}

@media screen and (min-width: 800px) {
    .blog .block-area {
        width: 49%;
        display: inline-block;
    }
}
@media screen and (min-width:1000px) {
    .header a{
        transition: all .2s ;
    }
    .header a:hover {
        letter-spacing: .1em;
    }
    .blog h1 {
        text-align: left;
        margin-top: 1em;
    }
    .blog .block-area {
        width: 24.7%;
        height: 25em;
        text-align: center;
        overflow: hidden;
        display: inline-block;
    
    }

    .blog .block {
        width: 80%;
        height: 30em;
        background-color: rgb(255, 255, 255);
        margin: auto;
        margin-top: 2em;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
        cursor: pointer;
        transition: all .3s;
        text-align: center;
    }

    .block h2 {
        text-align: left;
    }

    
.block:hover {
    font-size: 1.1em;
}

.block:hover .saibamais {
    font-size: .8em;

}


.thumb {
    width: 100%;
    height: 6em;
    background-image: url(predios.jpg);
    background-size: cover;
}

.block h2 {
    font-size: 1.5em;
    text-align: left;
    width: 80%;
    margin: auto;
}


.block .risco {
    border-top: 5px solid black ;
    width: 50%;
    margin: auto;
    transform: translateY(-.5em) translateX(-3.5em);
    margin-top: 2em;
    

}

.block-area a {
    color: black;
    text-decoration: none;
}

.saibamais {
    background-color: rgb(13, 19, 41);
    width: 50%;
    margin: auto;
    border-radius: 20px ;
    height: 3em;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 3em;
    transform: translateX(-3.5em);
    transition: all 1s;
}

.saibamais h3 {
    display: inline-block;
    margin-top: .5em;
    font-size: 1.2em;
    transform: translateX(-.5em) translateY(.1em);
    color: white;
    font-weight: 500;
    
}

.saibamais .fas {
    transform: translateX(1em);
    font-size: .8em;
    transition: all 1s;

}

.saibamais:hover {
    letter-spacing: .01em;
    font-size: .8em;
    background-color: rgb(255, 255, 255);
    
    
}

.saibamais:hover h3 {
    color: black;
    transform: translateY(.2em) translateX(-.2em);
}
    
