

body {
    

background-color: rgb(151, 0, 0);
}

.titulo {
    color: white;
    height: 4em;
    text-align: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    text-shadow: 1px 1px 2px black;
    border: 1px solid rgba(0, 0, 0, 0.671);
    font-size: .9em;

}

.titulo h2 {
    font-weight: lighter;
    letter-spacing: .3em;
    display: inline-block;
    margin-left: 2em;
    font-weight: bold;


}





















.especialidades {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 21em;

    
   overflow: auto;
   overflow-y: hidden;
   white-space: nowrap;
    
}


.card-area {
    font-size: .9em;
    display: inline-block;
    padding: 4.5em 6em;
    box-sizing: border-box ;
    width: 30em;
    height: 30em;
    font-size: .6em;
    margin-left: 5.5vh;
    margin-top: .5em;
    margin-right: 11vh;
}

.card {
    
    width: 20em;
    height: 20em;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgba(255, 251, 0, 0.021);
    display: inline-block;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
    transition: all .5s;
    position: static;
    float: left;
    
    
    
    
    
    
}

.card img {
    width: 4.5em;
    display: block;
    margin: auto;
    margin-top: 5em;


}


.card a {
    color: rgb(114, 114, 114);
    text-decoration: none;
    font-family: 'Quicksand';
    text-align: center;
    display: block;
    font-size: 1.2em;
    margin-top: 2em;
    font-weight: bolder;

}

.card:hover {
    font-size: 1.1em;
    transform: translateY(-.1em) translateX(-1em);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.507);
    background-color: rgb(255, 255, 255);
    opacity: 100%;
}

.card:hover a {
    color: rgb(126, 126, 126);
    
}












.titulo-esc {
    width: 100%;
    height: 4em;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-size: .7em;
    padding-bottom: .5em;
    
    


}

.titulo-esc h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: lighter;
    font-family: 'Quicksand';
    letter-spacing: .5em;
    text-shadow: 1px 1px 2px black;
    
}






















.como-atuamos .titulo {
    background-color: rgb(0, 0, 0);
    border: black;
}

.como-atuamos {
    background-color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    
}

.como-atuamos p{
    width: 100%;
    margin: auto;
    text-align: left;
    line-height: 1.5em;
    
    
    
}


.como-atuamos article {
    background-color: rgba(255, 255, 255, 0.774);
    color: rgb(107, 107, 107);
    width: 90%;
    margin: auto;
    padding: 2em 0;
}





















.areas {
    white-space: nowrap;
    overflow: auto;
    
    display: block;
    
   
    background-color: rgb(243, 243, 243);


    

}



.areas .titulo {
    background-color: black;
    border: black;
}

.card-area2 {
    display: inline-block;
    overflow: hidden;
    
    
}


.card2 {
    font-size: .6em;
    background-color: rgb(255, 255, 255);
    width: 30em;
    height: 30em;
    
    color: rgb(66, 66, 66);
    text-align: left;
    
    display: inline-block;
    border-radius: 10px;
    float: left;
    padding-bottom: 15em;
    margin: auto;
    position: initial;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.712);
    margin: 4em 7em 4em 7em  ;
    
    
}










.card2 img {
    width: 4em;
    float: left;
    margin: 2em 4em 0em 3em;

}

.card2 h3 {
    font-weight: lighter;
    display: inline-block;
    font-weight: bold;
    margin: 1.5em 0em;
    font-size: 1.5em;
    color: rgb(100, 100, 100);
    transform: translateX(-1em) translateY(1em);
}   

.card2 p {
    width: 80%;
    white-space: normal;
    margin: 3em;
    margin-top: 1em;
    line-height: 1.5em;
    font-size: 1.5em;
    padding-bottom: 10em;

}


.content {
    width: 55%;
    border-bottom: solid .1em rgb(70, 70, 70) ;
    text-align: center;
    margin: auto;
    transform: translateY(-.5em) translateX(2.7em);
}





.escopo .card2 {
    text-align: left;
    white-space: normal;
    display: block;
    margin: 0;
    transform: translateY(0);
    margin: 7em;
    height: 20em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.712);
    
    

}

.escopo .card2 img {
    width: 7em;
    float: none;
    margin: 0;
    margin: auto;
    transform: translateY(2em);
    margin-left: 5em;
    margin-top: 3em;


}

.escopo .card2 h3 {
    width: 75%;
    margin-left: 4em;
    text-align: left;
    
    
}

.escopo .card2 .content {
    margin: 0;
    text-align: center;
    border-top: 2px solid;
    width: 20%;
    margin-top: 1em;
    margin-left: 2em;
}


.escopo .card2 p {
    text-align: left;
}






@media screen and (min-width:1280px) {

    .letreiro h1{
        transform: translateX(-10em) translateY(2em);
    }
    
    
    .cabeçalho {
        height: 11em;
        text-align: center;
    }
    
    .cabeçalho img {
        display: inline-block;
        width: 30em;
        height: 11em;
    }
    
    
    
    
    .especialidades {
        white-space: normal;
        text-align: center;
        padding-bottom: 2em;
        
    }
    .card-area {
        font-size: .6em;
        height: 17em;
        
        padding: 0;
        width: 17%;
        margin-top: 5em;
        margin: 0;
        margin-top: 5em;
  

    }

    .card:hover {
        font-size: 1.02em;
        transform: translateX(0);
    }

    
    
    
    


  

    
    
    .como-atuamos {
        height: 50em;
        background-color: rgb(240, 240, 240);
        
        
    }

    .como-atuamos article {
        margin-top: 6em;
        display: inline-block;
        margin: 0;
        
        width: 50%;
        line-height: 2em;
        font-size: 1.2em;
        background-color: rgb(255, 255, 255);
        padding: 4em;
        padding-bottom: 6em;
        color: rgb(53, 53, 53);
        
    }
    
    
    
    
    .ar {
        font-size: .7em;
        padding-bottom: .5em;
    }
    
    .areas {
        height: 25em;
    }
    
    .card2 {
        margin-left: 26em;
        font-size: .8em;
        width: 50%;
        margin-right: 30em;
        
    }

    .card2 h3 {

        margin-left: .6em;
        margin-top: 3em;
        margin-right: 0;

    }

    .card2 p {
        margin-top: 2em;
    }

    .card2 img {
        width: 8%;
        margin-left: 5em;
        margin-top: 4em;
    }




   

    .escopo .card2 {
        margin-left: 26em;
        margin-right: 20em;
    }


    .escopo .card2 p {
        text-align: center;
        margin-top: 2em;

    }



    .escopo .card2 img  {
        width: 10%;
        margin-left: 4em;
        margin-top: 2em;
        
    }

    .escopo .card2 h3 {
        width: 50%;
        display: inline-block;
        margin-left: 0;
        margin-top: 1em;



    }

    .escopo .card2 .content {
        transform: translateX(.5em);

    }
    .escopo .card2 p {
        margin-top: 2em;
    }

    .escopo .content {
        margin-left: 11.5em;
    }

    #contrato-esc img {
        width: 9%;
        margin-left: 3em;
        margin-top: 3em;
        margin-right: 3em;
        
    }

    #contrato-esc h3{
        width: 70%;
        margin-left: 2em ;

    }

    #contrato-esc .content {
        width: 60%;
        margin-left: 11.5em;
    }


    #shield-esc img {
        width: 10%;
        margin-left: 4em;

    }
    #shield-esc h3 {
        margin-top: 1.5em;
    }

    #shield-esc .content {
        margin-left: 11em;
    }
    #shield-esc p {
        margin-top: 3em;
        text-align: center;
    }


    #hand-esc img {
        width: 10%;
        margin-left: 4em;

    }

    #tributario-esc img {
        width: 9%;
    }

    #tributario-esc h3 {
        margin-left: 1em;
    }

    

}





