
.menu {
    text-align: center;
}





.video-topo {
    overflow: hidden;
}

.video-topo video {
    width: 100%;
    
    
}






.titulo {
    width: 100%;
    height: 2em;
    background-color: black;
    overflow: hidden;
    text-align: left;
    padding: 1em 0em;
    

}

.titulo h2 {
    font-size: 1em;
    color: white;
    font-weight: bold;
    
    letter-spacing: .5em;
    display: inline-block;
    margin: auto;
    margin-left: 2em;
    margin-top: .3em;


    

}








.especialidades {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 21em;
    
   overflow: auto;
   overflow-y: hidden;
   white-space: nowrap;
    
    
}

.es {
    font-size: .7em;
}

.card-area {
    display: inline-block;
    padding: 4.5em 6em;
    box-sizing: border-box ;
    width: 30em;
    height: 30em;
    font-size: .6em;
}

.card {
    width: 20em;
    height: 20em;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgba(255, 251, 0, 0.021);
    display: inline-block;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.185);
    transition: all .5s;
    position: static;
    float: left;
    
    
    
    
    
}
.card img {
    width: 4.5em;
    display: block;
    margin: auto;
    margin-top: 5em;
    

}


.card a {
    color: rgb(114, 114, 114);
    text-decoration: none;
    font-family: 'Quicksand';
    text-align: center;
    display: block;
    font-size: 1.2em;
    margin-top: 2em;
    font-weight: bolder;

}

.card:hover {
    font-size: 1.1em;
    transform: translateY(-.1em) translateX(-.5em);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.507);
    background-color: rgb(255, 255, 255);
    opacity: 100%;
}

.card:hover a {
    color: rgb(126, 126, 126);
    
}





.sobrenos .titulo {
    margin-left: 2em;
}

.sobrenos-article {
    width: 100%;
    display: inline-block;
    background-image: url(fundo-sobrenos.jpg);
    background-size: cover;
    height: 30em;
    
}

.sobrenos article {
    width: 80%;
    color: white;
    padding: 1em;
    margin: auto;
    font-size: 1.2em;
    
    
    
}





.contato {
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding-bottom: 2em;
}

.contato .titulo {
    background-color: rgb(219, 219, 219);
    text-shadow: 1px 1px 2px black;
}




.contato address {
    background-color: white;
    margin: 1em;
    padding: .6em;
    border-radius: 5px ;
    box-shadow: 1px 1px 5px black;
    text-align: left;
    margin-top: 4em;

}


.contato .end {
    margin-left: 2em;
}


.contato img {

    width: 1em;
    margin-left: 1em;
    margin-right: 1em ;
    

}

.contato iframe {
    width: 90%;
    height: 20em;
    margin-top: 2em;
    
}



.contato-predio {
    background-image: url(iguatemi-business.jpg);
    width: 100%;
    height: 30em;
    background-size: cover;
    background-position: center;

}


.predio-box {
    background-color: rgba(0, 0, 0, 0.781);
    height: 10em;
    transform: translateY(20em);
    text-align: center;

    
}

.predio-box a {
    color: white;
    font-weight: lighter;
    display: inline-block;
    margin-top: 2em;
    text-decoration: none;
    font-size: 1.2em;
    

    
}


@media screen and (min-width: 550px) {
    .es h2 {
        font-size: 1.4em;
    }
}


@media screen and (min-width: 1280px) {

    
    
    .cabeçalho {
        height: 11em;
        text-align: center;
    }
    
    .cabeçalho img {
        display: inline-block;
        width: 30em;
        height: 11em;
    }
    

    


    .es {
        font-size: .8em;
        
    }

    .es h2 {
        margin-left: 4em;
    }


    
    .especialidades {
        white-space: normal;
        margin: auto;
        text-align: center;
        height: 45em;
        width: 100%;
        overflow: hidden;
        
    }




    .card-area {
        margin-right: 0em;
        padding: 0em 3em 0em 3em;
        width: 25%;
        margin-top: 0;
        
        height: 17em;
        transform: translateY(4em) translateX(1em);
        font-size: 1em;

    }

    .card {
        font-size: .7em;
        margin-top: 0;
        
    }

    .card:hover {
        font-size: .75em;
    }








    
    
    .sobrenos .titulo {
        background-color: black;
        color: white;
        border: none;
        font-size: 1.2em;
        text-align: left;
    }

    .sobrenos .titulo h2 {
        
        font-size: .9em;
        font-weight: bold;
        letter-spacing: .5em;
        display: inline-block;
        margin: 1em;
        margin-left: 2em;

    }

    .sobrenos {
        background-image: url(fundo-sobrenos.jpg);
        height: 40em;
        
    }


    .sobrenos-article {
        width: 50%;
        display: inline-block;
        height: 39.9em;
        color: rgb(255, 255, 255);
        line-height: bolder;
        overflow: hidden;
        
    }

    .sobrenos article {
        font-size: 1.4em;
        background-color: transparent;
        width: 80%;
        margin-top: 4em;
        

    }

    .sobrenos-foto {
        width: 50%;
        height: 40em;
        background-image: url(sobrenos.jpg);
        background-size: cover;
        background-position: center;
        display: inline-block;
        float: right;

    }


    .contato-predio {
        width: 40%;
        display: inline-block;
        float: right;
        background-size: cover ;
        background-position: center;
        height: 50em;
        margin-top: 0;
    }


    .predio-box {
        background-color: rgba(0, 0, 0, 0.74);
        width: 100%;
        height: 4em;
        color: white;
        padding-bottom: 20em;
        margin-top: 10em;
        
    }

    .predio-box a {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
        display: inline-block;
        margin: 1em;


    }

    .contato {
        width: 60%;
        color: rgb(0, 0, 0);
        height: 50em;
        text-align: center;
        display: inline-block;
        background-color: rgb(241, 241, 241);
        padding: 0;
        
    }

    .contato .titulo h2 {
        margin-left: 4em;
    }

   


    .contato img {
        width: 3%;
        margin-right: 2em;

    }

    .contato iframe {
        
        margin-top: 4em;
        width: 90%;
        height: 20em;
    }

    .contato address {
        background-color: rgb(255, 255, 255);
        padding: 2em;
        border-radius: 5px;
        width: 80%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
        margin: auto;
        margin-top: 4em;
        
    }

    


    
    
    
    

    
    
   



}




