.titulo {
    color: white;
    height: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.829);
    overflow: hidden;

}

.titulo h2 {
    font-weight: lighter;
    letter-spacing: .3em;
    transform: translateY(-.5em);


}




.conteudo {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 3em;
}

.cardarea {
    width: 40%;
    display: inline-block;
    margin: auto;

}



.card {
    font-size: .9em;
    width: 10em;
    background-color: black;
    display: inline-block;
    margin-top: 3em;
    height: 10em;
    font-family: 'Quicksand';
    transition: all 1s;
    text-align: center;
    



}

.card a {
    
    display: block;
    text-decoration: none;
    color: white;
    
    letter-spacing: .3em;
    font-size: .9em;
    transition: all 2s;

}

.card img {
    width: 20%;
    display: block;
    margin: auto;
    margin-top: 2em;
    transition: all 1s;

}

.card .consumerista {
    width: 8%;
}






.penal p {
    width: 50%;
    display: block;
    margin-left: 3em;
    
   
    
}

.civil p {
    width: 50%;
    display: block;
    margin-left: 3em;
    
   
    
}

.card a:hover {
    letter-spacing: .4em;
    
}

.card a:hover img {
    transform: translateY(-.5em);
    width: +30%;
}



.card:hover {
    padding: .2em;
}

.card a:hover .consumerista {
    width: 13%;
}

.como-atuamos {
    color: white;
    text-align: center;
    margin: auto;
    text-align: center;
    background-image: url(fundo-atuacao-conteudo2.jpg);
    padding-bottom: 10em;
    text-shadow: 2px 2px 3px black;
    overflow: hidden;

}
.como-atuamos .titulo{
   padding: 1em;
   overflow: hidden;
}


.como-atuamos .titulo h2 {
    transform: translateY(-1em);
}


.como-atuamos p {
    width: 85%;
    margin: auto;
    text-align: center;
    line-height: 2em;
    transform: translateY(3em);
    font-size: .9em;
    margin-top: 1em;


}

.atuacao {
    background-image: url(fundo-atuacao-conteudo2.jpg);
    padding-bottom: 4em;
}


.card2 {
    width: 80%;
    margin: auto;
    color: white;
    margin-top: 2em ;
    background-color: black;
    padding: 0 2em 2em 3em;
    border-radius: 5px;
}

.card2 h3 {
    font-weight: lighter;
    margin-left: 4em;
    overflow: hidden;
}

.card2 img {
    width: 2em;
    display: inline-block;
    transform: translateY(3em);
    margin-left: 1em;
}

.content {
    width: 60%;
    border-bottom: solid 1px white ;
    text-align: center;
    margin: auto;
    transform: translateY(-1em) translateX(-.5em);
}

#direito-tributario img {
    width: 1.6em;
}

#direito-societario img {
    width: 1.5em;
}

#direito-consumerista img {
    width: .7em;
    transform: translateX(.5em) translateY(3.3em);
}

#direito-contratual img {
    width: 1.5em;
    transform: translateY(3.3em);

}

@media screen and (min-width:850px) {

    .card {
        font-size: .8em;
    }
    
    
    .conteudo {
        background-image: url(predios.jpg);
    }
    
    .cardarea {
        width: 18%;

    }

    .como-atuamos p {
        width: 60%;
        text-align: justify;
    }


   .atuacao-conteudo {
    width: 100%;   
    margin: auto;
   }

   
   .areas {
       width: 100%;
       text-align: center;
   }
   
   .cardarea2 {
       width: 49%;
       display: inline-block;
       
   }

   


    .card2 {
        
        width: 90%;
        height: 25em;
        display: inline-block;
        overflow: hidden;
        text-align: left;
        padding: 0;

    }

    .card2 p {
        margin: auto;
        margin-top: 2em;
        width: 70%;
    }

    .card2 h3 {
        transform: translateX(2em);
    }

    .card2 img {
        margin-left: 2em;
    }
    
    

   
    
}

@media screen and (min-width:1280px) {

    .card {
        font-size: 1em;
    }

}





